/* .user_profile_container {
  display: flex;
} */

.user_profile {
  display: flex;
  border: 3px solid black;
  width: 450px;
  margin: 10px;
  padding-bottom: 30px;
}
.user_info {
  margin-left: 50px;
}
.weatherContainer {
  display: flex;
  justify-content: space-around;
  border: 3px solid black;
}
