.register_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
}
.register_input {
  border: 2px solid white;
  width: 400px;
  text-align: center;
  font-size: 24px;
  padding-bottom: 20px;
  box-shadow: rgba(199, 199, 199, 0.25) 0px 54px 55px,
    rgba(224, 213, 213, 0.12) 0px -12px 30px,
    rgba(153, 149, 149, 0.12) 0px 4px 6px,
    rgba(252, 239, 239, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  height: 36px;
  font-size: 18px;
}

.register_button {
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  color: white;
  box-shadow: inset 0 0 0 2px #d6d9db;
  background-color: transparent;
  height: 50px;
  width: 250px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.register_button:hover {
  color: #fff;
  background-color: #616467;
}

.register_message {
  color: rgb(230, 78, 78);
}
.register_href {
  text-decoration: underline;
  color: white;
}
